
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* Elements */
  html {
    font-size: 1.5rem;
    font-family:'Inter';
  }
  
  body{
      color: #FFFFFF;
      background: #121212;
      /* overflow: hidden;  */
      overflow-x: hidden;
      width: 100%; /* restrict the page width to viewport */
  
  }
  